
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }

      #container{
        position: relative;
        left: 0;
        top: 0;
      }
      #map-canvas {
        width: 700px;
        height:550px;
        z-index:10;
        position:absolute;
        left:0px;
        top:0px;
      }

      #image-canvas {
        position: absolute;
        top: 75px;
        left: 150px;
        z-index:20;
        width:200px;
        height:200px;
      }

      #image-canvas img{
        display:none;
      }

      #c{
        width:200px;
        height:200px;
        border:1px solid #aaa;
      }

      #controls{
        position:absolute;
        left:701px;
        top:0px;
        height:550px;
        width:600px;
          padding-left: 10px;
          padding-top: 10px;
      }

	    #temp-canvas {
		    position:absolute;
		    bottom:0;
		    right:0;
	    }

       #imagesContainer{
        position:absolute;
        top: 560px;
		width:90%;
		height:150px;
	  }

	  #imagesContainer img{
		width: 160px;
		height:160px;
		display:inline;
		cursor: pointer;
	  }

	  #msg img{
		width:254px;
		height:270px;
          position: absolute;
          left: 200px;
          top: -30px;

	  }

	  #match{
		color: red;
	  }

      #match img {
          height: 170px;
          margin-right: 20px;
      }

      #match img.fuzz {
          margin-left: 100px;
      }

      input[type="button"] {
          -webkit-appearance: none;
          font-size: 20px;
      }

